.hidden {
    display: none;
}

:root {
    --color-primary-brand: #4d5ae5;
    --color-pressed-state: #404bbf;
    --color-darck: #2e2f42;
    --color-success: #31d0aa;
    --color-text:  #434455;
    --color-subtle-text: #8e8f99;
    --color-accent: #e7e9fc;
    --color-light: #f4f4fd;
    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-background: rgba(46, 47, 66, 0.7);
    --color-white-background: #fff;
    --color-modal-background: #fcfcfc;
    --color-burger-btn: #2f2f37;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul {
    list-style-type: none; /*убирає маркування списку*/
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.address {
    font-style: normal;
}

body {
    color: var(--color-text);
    background-color: var(--color-white-background);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
    padding: 96px 0;
}

p {
letter-spacing: 0.02em;
}

.sales-text {
    font-size: 16px;
}

.title-sections {
    color: var(--color-darck);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.title {
    color: var(--color-darck);
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.link {
    display: block;
    color: var(--color-darck);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*Плавна анімація*/
}

.link:hover,
.link:focus {
    color: var(--color-pressed-state);
}

/*common*/

.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    align-items: center;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 16px;
    }
}

/* haeder */

.header {
    box-shadow: 
    0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--color-accent);
}
.header .container{
    display: flex;
    justify-content: space-between;
    
}  

.header-menu,
.address {
    display: none;
}

.header .link-logo,
.footer .link-logo {
    color: var(--color-primary-brand);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
 
.header-nav .link-logo {
    padding: 16px 0;
    display: block;
}

.title-logo-header {
    color: var(--color-darck);
}

.title-logo-header:hover,
.title-logo-header:focus {
    color: var(--color-pressed-state);
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--color-burger-btn);
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
 }
.header-menu { 
    display: flex;    
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
   
}

.address {
    font-style: normal;
    display: block;
}


 .header-nav .link-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-menu { 
    display: flex;    
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
   
}

.header-menu a {
    padding: 24px 0;
    position: relative;
 }


.header-menu .current::after {
    content: ""; /* Створює порожній псевдоелемент */
    position: absolute; /* Позиціонується відносно посилання */
    bottom: -1px; /* Розташування під текстом (можна змінити за потреби) */
    left: 0; /* Початок лінії з лівого краю */
    width: 100%; /* Лінія підкреслює весь текст */
    height: 4px; /* Товщина лінії */
    background-color: var(--color-pressed-state); /* Колір підкреслення */
    border-radius: 2px;

    }

.link.current {
    color: #404bbf;
}


.address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.address-link {
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--color-pressed-state);
}

}

@media screen and (min-width: 1158px) {
 .header-nav .link-logo {
    margin-right: 76px;
}

.address-menu {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}
}

/*mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white-background);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent); 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: 68px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-darck);
    text-decoration: none;
} 

.mobile-link.current {
    color: var(--color-pressed-state);   
}

.mobile-address {
   margin-bottom: 48px; 
}

.address-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-mobile .address-link {
    text-decoration: none;
    color: var(--color-darck);
}

.address-link.mobile.current {
    color: var(--color-primary-brand);
}

.sociale {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.item-icons {
    width: 40px;
    height: 40px;
}

.sociale-icons {
    fill: var(--color-light);
} 

.icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--color-pressed-state);
}



@media screen and (min-width: 768px) {
 .mobile-menu {
    display: none;
}
}


/* головна секція */
.hero-section {
    max-width: 320px;
    background-image: linear-gradient(
        to bottom,
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
     url(../images/people-office.jpg);
    padding: 72px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 216px;
    color: var(--color-white-background);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    color: var(--color-white-background);
    background-color: var(--color-primary-brand);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-pressed-state);
}


/*modal*/

 .modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: var(--color-modal-background);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 72px 16px 24px 16px;
    width: 288px;
    min-height: 584px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent); 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--color-pressed-state);
    border: none;
}


.name-form-modal {
    color: var(--color-darck);
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.modal-icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color-darck);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.for-input-icon:focus-within .modal-icons {
    fill: var(--color-primary-brand);
}



.modal-icons-close {
  fill: var(--color-darck); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-icons-close,
.modal-close:focus .modal-icons-close,
.mobile-icons-close:hover,
.mobile-icons-close:focus {
    fill: var(--color-white-background);
}

 
.name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-subtle-text);
    display: block;
    margin-bottom: 4px;
}

.for-input-icon {
    position: relative;
}
.field-comment {
    margin-bottom: 16px;
}


.input-group {
    margin-bottom: 8px;
    
}


.modal-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-field:focus {
    border-color: var(--color-primary-brand); /* Колір рамки при фокусі */
    outline: none; /* Видаляємо стандартний outline браузера */
}


.textarea-field {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;   
    resize: none;
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field:focus {
    border-color: var(--color-primary-brand);
}


.checkbox-group {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.checkbox-privacy {
    font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--color-subtle-text);

     display: flex;
     align-items: center;
}

.checkbox.icons {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    fill: transparent;
}

.visually-hidden:checked + .checkbox-privacy .checkbox.icons {
    background-color: var(--color-pressed-state); /* Фон у стані checked */
    border: none; /* Видаляємо рамку */
    fill: var(--color-light); /* Змінюємо колір іконки */
}


.checkbox-group a {
    color: var(--color-primary-brand);
}


.modal-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white-background);
    cursor: pointer;
    background-color: var(--color-primary-brand);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
    background-color: var(--color-pressed-state);
}

@media screen and (min-width: 768px) {
    .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    }
}

/* The end modal */


@media screen and (min-width: 768px) {
.hero-section {
    max-width: 768px;
    padding: 112px 0;   
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;  
}

.hero-section .container {
    gap: 36px;
    
}
}

@media screen and (min-width: 1158px) {
    .hero-section {
    max-width: 1440px;
    padding: 188px 0;   
}

.hero-section .container {
    padding: 0 15px;
      gap: 48px;
}
}

/* section feature */
.section-features {
    max-width: 320px;
    margin: 0 auto;
    padding: 96px 0px;
} 

.section-features .container {
    max-width: 288px;
    padding: 0;
}

.features-icon {
    display: none;
}

.list-features {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    width: 100%;
}
   
.title-features {
   text-align: center;
   width: 100%;
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
}

.features-item .sales-text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
.section-features {
    max-width: 768px;
    /* margin: 0 auto; */
}

.section-features .container {
    max-width: 736px;
}

.list-features {
    column-gap: 24px;
    row-gap: 72px;
}

.features-item {
   width: calc((100% - 24px) / 2);
}

.title-features {
   text-align: left;
 }
} 

@media screen and (min-width: 1158px) {
.section-features {
    max-width: 100%;
    padding-top: 116px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
}

.section-features .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
}

.list-features {
    display: flex;
    gap: 24px;
}

.title-features {
    font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
 }

 .features-item .sales-text {
    font-weight: 400;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Іконка по центру */
    width: calc((100% - 72px) / 4);
}

.features-icon {
    padding: 24px 100px;
    background-color: var(--color-light);
    margin-bottom: 8px;
    border: 1px solid var(--color-subtle-text);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}
}


/* our team */
.section-team {
    max-width: 320px;
    background-color: var(--color-light);
    margin: 0 auto;
}

.title-sections.team {
    margin-bottom: 72px;
}
.card-team {
    background: var(--color-white-background);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-description {
    padding: 32px 0;
  }
.team-description .title {
   text-align: center; 
   margin-bottom: 8px;
}

.team-description .sales-text {
    text-align: center;
    margin-bottom:  8px;
}

.list-taem {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.sociale {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.item-icons {
    width: 40px;
    height: 40px;
}

.sociale-icons {
    fill: var(--color-light);
} 

.icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--color-pressed-state);
}

@media screen and (min-width: 768px) {
   .section-team {
    max-width: 768px;
       
}


.list-taem {    
   row-gap: 64px;
   column-gap: 24px;
   }

}

@media screen and (min-width: 1158px) {
.section-team {
    max-width: 100%;
    padding: 120px 0;
       
}

.section-team .container {
    padding: 0 15px;
}

.card-team {    
    width: calc((100% - 72px) / 4); 
}

}


/* portfolio */

.section-portfolio {
    max-width: 320px;
    margin: 0 auto;
}

.title-sections.portfolio {
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.card-portfolio {
     box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    visibility: hidden;
    opacity: 0;
    height: 0;

}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid var(--color-accent);
    border-top: none;
}

.portfolio-description .title {
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    max-width: 768px;
       
}

.list-portfolio {   
    column-gap: 24px;
    row-gap: 48px;
}

.card-portfolio {
    width: 356px;
}

}

@media screen and (min-width: 1158px) {
.section-portfolio {
    max-width: 100%;
    padding: 120px 0;
       
}

.section-portfolio .container {
    padding: 0 15px;
}

.card-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  /* Плавний перехід для тіні та руху */
    box-shadow: none;
    
}
.container-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light);
    padding: 40px 32px;
    background-color: var(--color-primary-brand);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover .overlay {
    transform: translateY(0);
}
.card-portfolio:hover,
.card-portfolio:focus {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); /* Ефект тіні при наведенні */
    /* transform: translateY(-5px); Підйом елемента вгору */
}

}